<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-purple">
        <mdb-card-header>Sounds & Samples</mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3"></h5>
          </mdb-card-title>
          <mdb-card-text>Explore a vast library of sounds uploaded by other users and acclaimed producers/sound designers from around the world.</mdb-card-text>
          <a routerLink="/projects" mdbBtn color="purple">Explore Now</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-purple">
        <mdb-card-header>Tracks</mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3"></h5>
          </mdb-card-title>
          <mdb-card-text>Explore Music Uploaded daily by other users from around the globe.</mdb-card-text>
          <a routerLink="/customers" mdbBtn color="purple">Listen Now</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-purple">
        <mdb-card-header>Discussions</mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3"></h5>
          </mdb-card-title>
          <mdb-card-text>Start discussions or join active discussions on topics of your choosing based around audio</mdb-card-text>
          <a routerLink="/tracks" mdbBtn color="purple">Join a Discussion</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-purple">
        <mdb-card-header>Profile</mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3"></h5>
          </mdb-card-title>
          <mdb-card-text>Edit your profile now.</mdb-card-text>
          <a routerLink="/profile" mdbBtn color="purple">Go to Profile</a>
        </mdb-card-body>
      </mdb-card>
    </div>

  </div>
</div>