<div class="z-depth-1" *ngIf="sortedTracks">
  <table mat-table #table [dataSource]="sortedTracks" [trackBy]="trackByFn" class="table table-striped table-responsive-md btn-table" mdbTable borderless="true"
  cdkDropList
  [cdkDropListData]="sortedTracks"
  (cdkDropListDropped)="dropTable($event)">
  
  <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->
   
     <!-- Audio Url Column -->
     <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>Audio</th>
      <td mat-cell *matCellDef="let element"> <audio controls src="{{ element.audioUrl }}"></audio> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    
    <!-- Album Column -->
    <ng-container matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef> Album Art </th>
      <td mat-cell *matCellDef="let element"> <img class="image-container" src="{{ element.imageUrl }}"/> </td>
    </ng-container>
    
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> 
        <a (click)="onEdit(element)" class="mr-2"><mdb-icon fas icon="edit"></mdb-icon></a>
        <a (click)="onDelete(element)"><mdb-icon fas icon="trash"></mdb-icon></a>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></tr>
  </table>
</div>

