<div class="z-depth-1">
  <table class="table table-striped table-responsive-md btn-table" mdbTable borderless="true">
    <thead style="background-color: transparent">
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Album Art</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let track of tracks; trackBy: trackByFn">
        <th scope="row">Audio</th>
        <td><audio controls src="{{ track.audioUrl }}"></audio></td>
        <td>{{ track.name }}</td>
        <td>{{ track.description }}</td>
        <td><img class="image-container" src="{{ track.imageUrl }}"/></td>
        
        <td>
          <a (click)="onEdit(track)" class="mr-2"><mdb-icon fas icon="edit"></mdb-icon></a>
          <a (click)="onDelete(track)"><mdb-icon fas icon="trash"></mdb-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let movie of movies" cdkDrag>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    {{movie}}
  </div>
</div>
